@font-face {
    font-family: "Georgia Regular";
    src: url(../fonts/Georgia/Georgia.ttf);
}

$fontMain: "Georgia Regular", sans-serif;

$colorCrimson: #97455f;
$colorCrimsonHover: #6a3144;
$colorGray: #d2d2d2;
$colorSecondGray: #989898;
$colorMoreGray: #999999;
$colorWhite: #ffffff;
$colorJaffa: #ee802f;
$colorMineShaft: #333333;
$colorGallery: #ebebeb;
$colorWhiteGray: #e5e5e5;
