@import "../packeges/bootstrap-4.2.1/scss/bootstrap.scss";
@import "variables";
@import "blocks/header";
@import "blocks/socialWrapper";
@import "blocks/navigation";
@import "blocks/sectionMenu";
@import "blocks/logo";
@import "blocks/searchForm";
@import "blocks/navMenu";
@import "blocks/marryGoAround";
@import "blocks/sectionProducts";
@import "blocks/SecondCaption";
@import "blocks/product";
@import "blocks/sectionUsPeople";
@import "blocks/peopleTitle";
@import "blocks/ceo";
@import "blocks/sectionContactUs";
@import "blocks/contactUsToday";
@import "blocks/footer";
@import "blocks/latestFromBlog";
@import "blocks/companyDetails";
@import "blocks/formContactsUs";

body {
    font-family: $fontMain;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6db3f2+0,54a3ee+50,3690f0+51,1e69de+100;Blue+Gloss+%233 */
    background: rgb(109, 179, 242);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(109, 179, 242, 1) 0%, rgba(84, 163, 238, 1) 50%, rgba(54, 144, 240, 1) 51%, rgba(30, 105, 222, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(109, 179, 242, 1) 0%, rgba(84, 163, 238, 1) 50%, rgba(54, 144, 240, 1) 51%, rgba(30, 105, 222, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(109, 179, 242, 1) 0%, rgba(84, 163, 238, 1) 50%, rgba(54, 144, 240, 1) 51%, rgba(30, 105, 222, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6db3f2', endColorstr='#1e69de', GradientType=0);
    /* IE6-9 */
}
