.b-latestFromBlog {

    &__headCaption {
        color: $colorMineShaft;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 20px;
    }

    &__wrapOpinion {}

    &__opinion {
        overflow: hidden;
        
        &:nth-child(1) {
            margin-bottom: 30px;
        }
    }

    &__img {
        float: left;
        padding: 3px;
        background-color: #fff;
        border: 1px solid #000;
        height: 95px;
        width: 95px;
        margin-right: 20px;
    }

    &__wrap {
        overflow: hidden;
    }

    &__secondCaption {
        color: $colorCrimson;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 15px;
    }

    &__text {
        color: $colorMoreGray;
        font-size: 12px;
        font-weight: 400;
        line-height: 21px;
    }
    
    &_margine {
        @include media-breakpoint-down(md) {
            margin-bottom: 20px;
        }
    }
}
